<div class="card text-center">
  <div class="card-header">
    CareerFoundry
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @title %></h5>
    <p class="card-text"><%= @description %> </p>
    <p class="card-text">Next start date: <%= @start_dates[0] %> </p>
    <a href=<%= @course_link %> target="_blank" class="btn btn-primary">View course details</a>
  </div>
  <div class="card-footer text-muted">
    Check for more courses here:
    <%= render partial: 'options' %>
  </div>
</div>
