<%= render partial: 'options' %>

<h1><%= @title %></h1>

<h2><%= "Start date: #{@start_dates[0]}" if @start_dates.length > 0 %></h2>

<h2><%= "Next start date: #{@start_dates[1]}" if @start_dates.length > 1 %></h2>

<% if @price.present? %>
  <h3><%= "Total: #{@price["total"]}" %> </h3>
  <h3><%= "Upfront: #{@price["upfront"]}" %> </h3>
  <h3><%= "Installment: #{@price["installment"]}" %> </h3>
  <h3><%= "Cycles: #{@price["cycles"]}" %> </h3>
<% end %>
